/.DS_Store
/.ipynb_checkpoints
/Comparacao_Regressoes.ipynb
/ICA_Classificador_Nícolas_Fonteles.ipynb
/Nícolas_Fonteles_AP2_ICA.ipynb
/Otimizacao.ipynb
/PSO_Classificacao.ipynb
/Regressor_Nicolas_Fonteles.ipynb
/report.log
/visualization.ipynb